<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('单区块信息详情')" />

</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-oneblockinfo-detail" th:object="${oneblockinfo}">
	
	        <!--块编码-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">块编码：</div>
            <div class="col-sm-8">[[*{blockid}]]</div>
        </div>

        <!--块编号-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">块编号：</div>
            <div class="col-sm-8">[[*{blocknumber}]]</div>
        </div>

        <!--数据哈希-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">数据哈希：</div>
            <div class="col-sm-8">[[*{datahash}]]</div>
        </div>

        <!--前块哈希-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">前块哈希：</div>
            <div class="col-sm-8">[[*{previoushash}]]</div>
        </div>

        <!--通道-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">通道：</div>
            <div class="col-sm-8">[[*{channelid}]]</div>
        </div>

        <!--信封数量-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">信封数量：</div>
            <div class="col-sm-8">[[*{envelopecount}]]</div>
        </div>

        <!--信封内容-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">信封内容：</div>
            <div class="col-sm-8">[[*{envelopeinfos}]]</div>
        </div>

        <!--交易数量-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">交易数量：</div>
            <div class="col-sm-8">[[*{transactioncount}]]</div>
        </div>

        <!--交易元数据-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">交易元数据：</div>
            <div class="col-sm-8">[[*{transactionsmetadata}]]</div>
        </div>

        <!--区块所有字段-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">区块所有字段：</div>
            <div class="col-sm-8">[[*{blockallfields}]]</div>
        </div>

        <!--区块头前哈希-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">区块头前哈希：</div>
            <div class="col-sm-8">[[*{blockheaderprevioushash}]]</div>
        </div>

        <!--区块头数据哈希-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">区块头数据哈希：</div>
            <div class="col-sm-8">[[*{blockheaderdatahash}]]</div>
        </div>

        <!--区块头序列化尺寸-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">区块头序列化尺寸：</div>
            <div class="col-sm-8">[[*{blockheaderserializedsize}]]</div>
        </div>

        <!--区块头编号-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">区块头编号：</div>
            <div class="col-sm-8">[[*{blockheadernumber}]]</div>
        </div>

        <!--区块头所有字段-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">区块头所有字段：</div>
            <div class="col-sm-8">[[*{blockheaderallfields}]]</div>
        </div>

        <!--区块体数据量-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">区块体数据量：</div>
            <div class="col-sm-8">[[*{blockdatadatacount}]]</div>
        </div>

        <!--区块体数据列表-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">区块体数据列表：</div>
            <div class="col-sm-8">[[*{blockdatadatalist}]]</div>
        </div>

        <!--区块体所有字段-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">区块体所有字段：</div>
            <div class="col-sm-8">[[*{blockdataallfields}]]</div>
        </div>

        <!--备注项00-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项00：</div>
            <div class="col-sm-8">[[*{bz00}]]</div>
        </div>

        <!--备注项01-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项01：</div>
            <div class="col-sm-8">[[*{bz01}]]</div>
        </div>

        <!--备注项02-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项02：</div>
            <div class="col-sm-8">[[*{bz02}]]</div>
        </div>

        <!--备注项03-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项03：</div>
            <div class="col-sm-8">[[*{bz03}]]</div>
        </div>

        <!--备注项04-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项04：</div>
            <div class="col-sm-8">[[*{bz04}]]</div>
        </div>

        <!--备注项05-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项05：</div>
            <div class="col-sm-8">[[*{bz05}]]</div>
        </div>

        <!--备注项06-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项06：</div>
            <div class="col-sm-8">[[*{bz06}]]</div>
        </div>

        <!--备注项07-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项07：</div>
            <div class="col-sm-8">[[*{bz07}]]</div>
        </div>

        <!--备注项08-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项08：</div>
            <div class="col-sm-8">[[*{bz08}]]</div>
        </div>

        <!--备注项09-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项09：</div>
            <div class="col-sm-8">[[*{bz09}]]</div>
        </div>

        <!--备注项10-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项10：</div>
            <div class="col-sm-8">[[*{bz10}]]</div>
        </div>

        <!--备注项11-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项11：</div>
            <div class="col-sm-8">[[*{bz11}]]</div>
        </div>

        <!--备注项12-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项12：</div>
            <div class="col-sm-8">[[*{bz12}]]</div>
        </div>

        <!--备注项13-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项13：</div>
            <div class="col-sm-8">[[*{bz13}]]</div>
        </div>

        <!--备注项14-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项14：</div>
            <div class="col-sm-8">[[*{bz14}]]</div>
        </div>

        <!--备注项15-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项15：</div>
            <div class="col-sm-8">[[*{bz15}]]</div>
        </div>

        <!--备注项16-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项16：</div>
            <div class="col-sm-8">[[*{bz16}]]</div>
        </div>

        <!--备注项17-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项17：</div>
            <div class="col-sm-8">[[*{bz17}]]</div>
        </div>

        <!--备注项18-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项18：</div>
            <div class="col-sm-8">[[*{bz18}]]</div>
        </div>

        <!--备注项19-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项19：</div>
            <div class="col-sm-8">[[*{bz19}]]</div>
        </div>

 


    </form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">

</script>
</body>
</html>
