<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('图片上传')"/>
    <th:block th:include="include :: cropbox-css"/>
</head>
<body class="white-bg">
<div class="container">
    <div class="imageBox">
        <div class="thumbBox"></div>
        <div class="spinner" style="display: none">Loading...</div>
    </div>
    <div class="action">
        <div class="new-contentarea tc">
            <a href="javascript:void(0)" class="upload-img"> <label for="avatar">上传图像</label> </a>
            <input type="file" class="" name="avatar" id="avatar" accept="image/*"/>
        </div>
        <input type="button" id="btnCrop" class="Btnsty_peyton" value="裁切"/>
        <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"/>
        <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-"/>
        <br><br>


        <!-- 图片保存到d:\ruoyi\ -->
        <input type="button" id="btnSubmit" class="Btnsty_peyton" onclick="submitHandler()" value="提交"/>


    </div>


    <div class="cropped"></div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: cropbox-js"/>


<script type="text/javascript">
    var cropper;
    $(window).load(function () {

//     debugger;
// 	//var avatar =  "";
        var options = {
            thumbBox: '.thumbBox',
            spinner: '.spinner',
            imgSrc: ctx + 'img/profile.jpg' //$.common.isEmpty(uploadfile) ? ctx + 'img/profile.jpg' : ctx + uploadfile.substr(1)
        }
        cropper = $('.imageBox').cropbox(options);
//
        //选择图片
        $('#avatar').on('change', function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                //debugger;
                options.imgSrc = e.target.result;

                //根据MIME判断上传的文件是不是图片类型
                if ((options.imgSrc).indexOf("image/") == -1) {
                    $.modal.alertWarning("文件格式错误，请上传图片类型,如：JPG，PNG后缀的文件。");
                } else {
                    cropper = $('.imageBox').cropbox(options);
                }
            }
            reader.readAsDataURL(this.files[0]);
        })

        //裁剪
        $('#btnCrop').on('click', function () {
            var img = cropper.getDataURL();
            $('.cropped').html('');
            $('.cropped').append('<img src="' + img + '" align="absmiddle" style="width:64px;margin-top:4px;border-radius:64px;box-shadow:0px 0px 12px #7E7E7E;" ><p>64px*64px</p>');
            $('.cropped').append('<img src="' + img + '" align="absmiddle" style="width:128px;margin-top:4px;border-radius:128px;box-shadow:0px 0px 12px #7E7E7E;"><p>128px*128px</p>');
            $('.cropped').append('<img src="' + img + '" align="absmiddle" style="width:180px;margin-top:4px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;"><p>180px*180px</p>');
        })

        //缩放
        $('#btnZoomIn').on('click', function () {
            cropper.zoomIn();
        })

        $('#btnZoomOut').on('click', function () {
            cropper.zoomOut();
        })
    });

    //提交保存
    function submitHandler() {
        //获取img的blob数据
        var img = cropper.getBlob();
        var formdata = new FormData();

        //form的数据加入img；
        formdata.append("picfile", img);

        //debugger;



        //提交给controller保存
        $.ajax({
            //url: ctx + "system/user/profile/updateAvatar",
            url: ctx + "demo6g/picupload/insert",
            data: formdata,
            type: "post",
            processData: false,
            contentType: false,
            success: function (result) {
                debugger;
                console.log(result);
                alert(result.code+"|"+result.msg);
                //返回图片的路径
                //msg="/profile/upload/2019/12/24/a2b940c77748ef7dc818b4c6a70494bf.png"

                //下面就可以显示出文件图片
                // <img class="img-circle img-lg" src="/profile/avatar/2019/12/16/6c3da8059b00a4324b630112170ec1ca.png">

                //绝对路径
                //http://localhost/profile/avatar/2019/12/16/6c3da8059b00a4324b630112170ec1ca.png

                //提交保存数据
                //$.operate.saveSuccess(result);
            }
        })
    }

</script>
</body>
</html>
