<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('对等节点详情')" />

</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-peerinfo-detail" th:object="${peerinfo}">
	
	        <!--节点编码-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">节点编码：</div>
            <div class="col-sm-8">[[*{jdid}]]</div>
        </div>

        <!--节点名称-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">节点名称：</div>
            <div class="col-sm-8">[[*{jdmc}]]</div>
        </div>

        <!--节点链接-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">节点链接：</div>
            <div class="col-sm-8">[[*{jdlj}]]</div>
        </div>

        <!--节点地址-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">节点地址：</div>
            <div class="col-sm-8">[[*{jddz}]]</div>
        </div>

        <!--是否关闭-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">是否关闭：</div>
            <div class="col-sm-8">[[*{sfgb}]]</div>
        </div>

        <!--通道名称-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">通道名称：</div>
            <div class="col-sm-8">[[*{tdmc}]]</div>
        </div>

        <!--区块号码-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">区块号码：</div>
            <div class="col-sm-8">[[*{qkhm}]]</div>
        </div>

        <!--是否连接-->
        <div class="form-group col-sm-12">
            <div class="col-sm-4 text-right">是否连接：</div>
            <div class="col-sm-8">[[*{sflj}]]</div>
        </div>

        <!--备注项00-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项00：</div>
            <div class="col-sm-8">[[*{bz00}]]</div>
        </div>

        <!--备注项01-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项01：</div>
            <div class="col-sm-8">[[*{bz01}]]</div>
        </div>

        <!--备注项02-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项02：</div>
            <div class="col-sm-8">[[*{bz02}]]</div>
        </div>

        <!--备注项03-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项03：</div>
            <div class="col-sm-8">[[*{bz03}]]</div>
        </div>

        <!--备注项04-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项04：</div>
            <div class="col-sm-8">[[*{bz04}]]</div>
        </div>

        <!--备注项05-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项05：</div>
            <div class="col-sm-8">[[*{bz05}]]</div>
        </div>

        <!--备注项06-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项06：</div>
            <div class="col-sm-8">[[*{bz06}]]</div>
        </div>

        <!--备注项07-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项07：</div>
            <div class="col-sm-8">[[*{bz07}]]</div>
        </div>

        <!--备注项08-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项08：</div>
            <div class="col-sm-8">[[*{bz08}]]</div>
        </div>

        <!--备注项09-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项09：</div>
            <div class="col-sm-8">[[*{bz09}]]</div>
        </div>

        <!--备注项10-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项10：</div>
            <div class="col-sm-8">[[*{bz10}]]</div>
        </div>

        <!--备注项11-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项11：</div>
            <div class="col-sm-8">[[*{bz11}]]</div>
        </div>

        <!--备注项12-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项12：</div>
            <div class="col-sm-8">[[*{bz12}]]</div>
        </div>

        <!--备注项13-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项13：</div>
            <div class="col-sm-8">[[*{bz13}]]</div>
        </div>

        <!--备注项14-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项14：</div>
            <div class="col-sm-8">[[*{bz14}]]</div>
        </div>

        <!--备注项15-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项15：</div>
            <div class="col-sm-8">[[*{bz15}]]</div>
        </div>

        <!--备注项16-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项16：</div>
            <div class="col-sm-8">[[*{bz16}]]</div>
        </div>

        <!--备注项17-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项17：</div>
            <div class="col-sm-8">[[*{bz17}]]</div>
        </div>

        <!--备注项18-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项18：</div>
            <div class="col-sm-8">[[*{bz18}]]</div>
        </div>

        <!--备注项19-->
        <div class="form-group col-sm-12 hidden">
            <div class="col-sm-4 text-right">备注项19：</div>
            <div class="col-sm-8">[[*{bz19}]]</div>
        </div>

 


    </form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">

</script>
</body>
</html>
